* {
    box-sizing: border-box;
}

html {
    background-color: black;
}

.Banner {
    background-color: black;
    color: white;
    margin: 75px 0 0 0 0;
    padding: 100px 0;
    text-align: center;
    border: 10px solid black;
    height: 1000px;

}

#front-logo {

    position: fixed;
    top: -60px;
    bottom: 30px;
    left: 5%;
    height: 175%;
    opacity: 40%;

    z-index: 0;


}

.snake {
    color: red;
    font-size: 100px;

}

.bold {
    font-weight: 900;

}

.big {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250px;
    position: relative;
    top: -250px;
    z-index: 1;
    opacity: 100%;
    text-decoration: underline;
}

.Banner p {
    top: -300px;
    z-index: 1;
    position: relative;
    font-size: 40px;

    text-decoration: underline;
}

.button-1 {
    top: -200px;
    position: relative;
    z-index: 1;
    height: 75px;
    width: 300px;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.navbar {
    display: inline-block;
    background-color: black;
    border: 1px solid black;
    position: sticky;
    height: 75px;
    width: 100%;
    z-index: 1;

}

.navbar li {
    display: inline;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    z-index: 1;
    padding: 0 15px;

}

li a {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 10px;
    text-decoration: none;
    opacity: 100% !important;


}

li a:hover {
    color: white;
}

.Banner .tag-2 {
    color: white;
    position: relative;
    padding-top: -15px;
    margin-top: -30px;
    text-decoration: underline;
}

.heading-3 {
    color: white;
    z-index: 2;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    text-align: center;
}

.text {
    display: flex;
    height: auto;
    width: 900px;
    color: white;
    z-index: 3;
    font-size: 30px;
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;
    left: 25vw;
}

.video {
    z-index: 2;
    position: relative;
    align-content: center;
    height: 500px;
    width: 700px;
    left: 30vw;
}

.about {
    margin-top: 200px;
    margin-bottom: 400px;
    text-align: center;
}